:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color pallete here */
  --powder_blue: #ADE1E5;
  --bdazzled_blue: #3E5C79;
  --dark_salmon: #DD9787;
  --laurel_green: #A4B494;
  --raw_sienna: #D38B5D;
  --shiny_shamrock: #74A57F;
  --davys_gray: #605B56;
  --desert_sand: #E4C5AF;
  --gold_crayola: #EDC085;
  --green_sheen: #7AB89C;


  --border_radius: 60px
}


html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  line-height: 1.75;
  font-size: 1.25em;
}


body {
  /* background-color: var(--powder_blue); */
  /* font-family: 'Times New Roman', Times, serif; */
  margin: 0px;
  /* text-align: center; */
  background-color: #9E9A9A;
  /* var(--davys_gray); */
  overflow-x: hidden; 
  
}

#introduction {
  background-color: var(--laurel_green);
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-left: -10vw;
}

#introduction h2, #introduction p {
  padding-left: 15vw;
  padding-right: 250px;
  /* width: 70vw; */
}

h2 #plastic_white {
  color: white;
}

h2 {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 0.9;
}

#under_chart_1{
  background-color: white;
  margin-top: 40px;
  margin-right: -10vw;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

#under_chart_1 h2 {
  padding-left: 30px;
  padding-right: 15vw;
}

header, footer {
  background-color: var(--bdazzled_blue);
  width: 100vw;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 60px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

header h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header h4 {
  margin-left: 30px;
}

#main {
  margin: auto;
  max-width: 80vw;
  padding: 10px; 
  /* background-color: var(--davys_gray); */
}

.tab {
  text-indent: 40px;
}

.hidden {
  display: none;
}

#graph1_flex {
  display: flex;
  flex-direction: row;
}

#slider_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  ;
}

#slider_div p{
  margin-left: 30px
}

#guess {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
}

#graph1_flex_right {
  background-color: var(--dark_salmon);
  align-self: center;
}

.button_div {
  width: 100%;
  text-align: center;
}

#slider_button {
  background-color: var(--laurel_green);
  padding: 20px;
  width: 300px;
  font-weight: normal;
  align-self: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  color: black;
}

#above_graph2_button {
  margin-left: 15vw;
  cursor: pointer;
  width: 50vw;
  padding: 10px;
  font-weight: normal;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--desert_sand);
  color: black;
}

#no_button {
  background-color: var(--raw_sienna);
  padding: 20px;
  width: 400px;
  height: 200px;
  font-weight: normal;
  align-self: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  color: black;
}

#graph2_heading {
  background-color: var(--bdazzled_blue);
  padding: 20px;
  border-radius: 40px;
  margin-top: -60px;
  margin-left: 20vw;
  margin-right: -10vw
  /* margin: 0px ; */
}

#answer{
  margin-bottom: -40px;
  font-size: 30px;
  line-height: 1.5;
  padding-left: 40px;
  padding-right: 80px;
}
#shockingly {
  color: var(--dark_salmon);
}

#unfortunately {
  background-color: var(--powder_blue);
  margin-left: -12vw;
  /* padding: 0px; */
  margin-top: 40px;
  padding-bottom: -45px;

  margin-bottom: -30px;
}

#unfortunately p{
  padding-left: 30px;
  padding-right: 15px;
}

#after_graph2 {
  background-color: var(--gold_crayola);
  margin-top: -200px;
  border-radius: 40px;
}

#after_graph2 .caption{
  padding-top: 165px;
  /* margin-bottom: 200px; */
}

#main div {
  padding: 20px;
}

#graph3_header {
  background-color: var(--powder_blue);
  width: 100vw;
  margin-left: -12vw;
  margin-top: 50px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
#graph3_header h2 {
  margin-left: 14vw;
}
#graph3_header p {
  margin-left: 14vw;
}

#be_straw_free {
  color: var(--bdazzled_blue)
}

div #blue {
  width: 100vw;
  background-color: var(--powder_blue);
  margin-left: -12vw;
  margin-right: 0px;
  padding: 0px;
}

div #red {
  width: 100vw;
  background-color: var(--dark_salmon);
  margin-left: -12vw;
  margin-right: 0px;
  padding: 0px;
}

div #green {
  width: 100vw;
  background-color: var(--laurel_green);
  margin-left: -12vw;
  margin-right: 0px;
  padding: 0px;
}


.middle {
  margin-left: 10vw;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  width: 78vw;
}

#but_why {
  display:flex;
  vertical-align: baseline;
}
#but_why #question {
  background-color: var(--bdazzled_blue);
  padding: 30px;
  line-height: 1;
  color: white;
  font-size: 30px;
  width: 45vw;
  text-align: center;
}

#but_why #reason {
  background-color: var(--powder_blue);
  padding: 20px;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
}


#map5 path {
  cursor: pointer;
}

h3 {
  text-align: center;
}


#graph2 {
  text-align: center;
}

#graph1 {
  text-align: center;
}

#map5 {
  text-align: center;
}

img {
  width: 100%;
  
}

.caption {
  font-size: small;
  margin-top: 0px;
}

.quote {
  font-style: italic;
}

/* updates starting HERE */

#map5 {
  text-align: center;
  border-width: 1px;
  border-color: black;
}

#policy_div {
  outline-width: 2px;
  outline-color: black;
}

#slider_div {
  width: 100%;
  text-align: center;
}

#slider {
width: 80%;
/* -webkit-appearance: none;
appearance: none;
} */
}


#policy_div table td, #policy_div table th {
  border-width: 0px;
  padding: 8px;
  margin: 0px;
}

#policy_div table tr td {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: lightgray;
}

#above_news {
  padding: 20px;
  background-color: var(--dark_salmon);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#below_news {
  background-color: var(--dark_salmon);
  margin-top: -10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

div #no_reveal {
  padding-top: 0px;
  padding-bottom: 0px;
}

#policy_div table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--davys_gray);
  color: white;

  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--davys_gray);
}

#news {
  width: 100vw;
  transform: translate(-13vw, 0px);
  margin-right: -10vw;
  margin-bottom: 0px;
}

#policy {
  background-color: var(--raw_sienna);
  margin-top: 50px;
  border-radius: 40px;
}

#policy_div table tr:nth-child(even){background-color: #f2f2f2;}
#policy_div table tr:nth-child(odd){background-color: lightgray;}

#policy_div table {
  width: 90%;
  margin: auto;
  transition: all 1s;
  border-bottom: 1px solid;
  
  border-color: lightgray;
  border-collapse: collapse;
}


#policy_div table tr .citation {
  width: 20%;
  font-weight: bold;
}


#policy_div table tr .summary {
  width: 80%;
  text-align: left;
  padding-left: 15px;
}

#policy_div {
  text-align: center;
}