:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  max-width: 100ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  /* background-color: gray; */
  font-family: 'Times New Roman', Times, serif;
  /* text-align: center; */
}

h3 {
  text-align: center;
}


#graph2 {
  text-align: center;
}

#graph1 {
  text-align: center;
}

#map5 {
  text-align: center;
}

img {
  width: 100%;
  
}

.caption {
  font-size: small;
}

.quote {
  font-style: italic;
}

/* updates starting HERE */

#map5 {
  text-align: center;
  border-width: 1px;
  border-color: black;
}

#policy_div {
  outline-width: 2px;
  outline-color: black;
}


#policy_div table td, #policy_div table th {
  border-width: 0px;
  padding: 8px;
  margin: 0px;
}


#policy_div table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}

#policy_div table tr:nth-child(even){background-color: #f2f2f2;}

#policy_div table {
  width: 90%;
  margin: auto;
  transition: all 1s;
}


#policy_div table tr .citation {
  width: 20%
}


#policy_div table tr .summary {
  width: 80%
}

#policy_div {
  text-align: center;
}