:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  max-width: 100ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  /* background-color: gray; */
  font-family: 'Times New Roman', Times, serif;
  /* text-align: center; */
}

h3 {
  text-align: center;
}


#graph2 {
  text-align: center;
}

#graph1 {
  text-align: center;
}

#map5 {
  text-align: center;
}

img {
  width: 100%;
  
}

.caption {
  font-size: small;
}

.quote {
  font-style: italic;
}
